body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.first {
  background-color: rgb(255, 115, 0);
}
.second {
  background-color: aqua;
}

.third {
  background-color: blueviolet;
}

.fourth {
  background-color: green;
}

.nav--bar {
  position: absolute;
  display: flex;
  align-content: space-between;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.logo {
  margin-left: 40px;
  height: 50px;
  width: 50px;
}

.section {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: flex-start;
}

.section--one--container {
  width: 100%;
  margin-left: 15%;
  margin-right: 15%;
}

.first h1 {
  font-size: 8rem;
  line-height: 8rem;
  letter-spacing: -0.3rem;
  width: 100%;
  margin: 50px 0 0 0;
}
.button-style {
  background: #ff2c2c;
  color: rgb(255, 255, 255);
  border: none;
  font-weight: 600;
  border-radius: 50px;
  padding: 15px 30px;
  margin-top: 24px;
  margin-left: auto;
  float: right;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
}

.button--hero:hover {
  background: black;
  color: white;
}

.button--navbar {
  background: black;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  margin-right: 40px;
  font-size: 0.6rem;
}

.second,
.fourth {
  justify-content: flex-end;
  position: relative;
}

.section--two--container,
.section--four--container {
  width: 360px;
  margin-right: 10%;
  z-index: 1;
  background-color: white;
  padding: 20px 50px;
  border-radius: 30px 0 30px 0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.section--third--container {
  width: 360px;
  margin-left: 10%;
  z-index: 1;
  background-color: white;
  padding: 20px 50px;
  border-radius: 30px 0 30px 0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 3rem;
  letter-spacing: -2px;
  line-height: 2.5rem;
}

.custom--bg {
  width: 100%;
  height: 800px;
  background: #ff2c2c;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(20deg) rotate(21deg);
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  background: black;
  padding: 70px;
  display: flex;
  justify-content: center;
}

.button--footer {
  background: white;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
}

.button--footer:hover {
  background: black;
  color: white;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.button--exit {
  width: 90px;
  margin-bottom: 5%;
  z-index: 5;
  position: fixed;
  bottom: 0;
  visibility: hidden;
}

.customizer--container {
  position: fixed;
  top: 50%;
  visibility: hidden;
}

.strap--colors {
  list-style: none;
}

.button--colors {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid white;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.8s ease;
}

.button--colors:hover {
  filter: drop-shadow(0 0 0.75rem rgba(28, 17, 52, 0.704));
  transform: scale(1.5);
}

.yellow {
  background-color: #ff2c2c;
}

.red {
  background-color: rgb(231, 34, 34);
}

.black {
  background-color: rgb(74, 76, 79);
}
